.designs{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 30px;
  margin: 250px 20px;
}


.design-p{
  display: flex;
  justify-content: center;
}


.design-image{
width: 31vw;
}

.category{
  font-style: italic;
  margin-top: -5px;
}

@media only screen and (max-width: 600px) {

.design-p{
  width: 100%;
  }
  
  .designs{
    display: flex;
    margin: 50px 10px;
    flex-direction: column;
  }
  
  .design-image{
  display: flex;
  width: 95%;
  margin-top: 10px;
  }
  
  .category{
    font-style: italic;
    margin-top: -5px;
    font-size: 15px;
  }

}