.design-p{
display: flex;
}

.designs{
  display: flex;
  justify-content: space-between;
  margin: 250px 20px;
}

.design-image{
width: 98%
}

.category{
  font-style: italic;
  margin-top: -5px;
}

@media only screen and (max-width: 600px) {

.design-p{
  width: 100%;
  }
  
  .designs{
    display: flex;
    margin: 50px 10px;
    flex-direction: column;
  }
  
  .design-image{
  display: flex;
  width: 100%;
  margin-top: 10px;
  }
  
  .category{
    font-style: italic;
    margin-top: 1px;
    font-size: 15px;
  }

}