.edit-design{
  margin: 150px 0 50px 0;
}

.edit-design-image {
  width: 600px;
  height: 150px;
  object-fit: cover;
  object-position: 10% 60%;
}

.form-grid{
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 70vw;
  margin-left: 29vw;
}

.form-div{
  display: flex;
  height: 70vh;
  background-color: white;
  width: 57vw;
  /* margin: 0 0 42%; */
}


.edit-form{
     display: flex;
    flex-direction: column;
    width: 60vw;
    background-color: #fff;
    justify-content: space-around;
}

input{
    background-color: #a3a3a3;
    text-decoration: none;
    border: none;
    font-family: 'Istok Web';
}

textarea {
  background-color: #a3a3a3;
  text-decoration: none;
  border: none;
  font-family: 'Istok Web';
}

#save-edit{
  width: 90px;
  margin: 0  0 -55px 0;
  color: black;
  background-color: #E3AD6D;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  height: 20px;
}

#save-edit:hover{
  color: #E3AD6D;
  background-color: white;
}

.lable-div{
  width: 9vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  color: #fff;
  font-style: italic;
  font-size: small;
  align-items: flex-end;
  justify-content: space-between;
}