.dev-detail{
display: grid;
grid-template-columns: .5fr 3fr;
margin: 150px 15px 0 15px;
column-gap: 20px;
}

.dev-left{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: right;
  align-items: flex-end;
  margin: 100px 0 0 20px;
  width: 40vw;
}

.library{
  font-size: 21px;
  font-style: italic;
  width: 30vw;
  color: #5F87EC;
}

.dev-text{
  width: 30vw;
  font-size: 21px;
}


.dev-right{
  display: flex;
  flex-direction: column;
}

.dev-dname{
  font-size: 30px;
  margin: 20px 0 0 0;
  font-style: italic;
}

.dev-detail-image{
  width: 100%;
}
