.dev-projects{
  display: flex;
  justify-content: space-between;
  margin: 200px 30px;
}

.dev-project{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  }
  
  .dev-image{
  width: 98%;
  margin-top: -15px;
  }
  
  .dev-name{
    font-style: italic;
    font-size: 20px;
    margin: 0 0px 12px 4px;
  }

  .d-buttons{
    display: flex;
  }

  .dev-button{
    height: 20px;
    width: 80px;
    text-transform: capitalize;
    margin: 10px 30px 5px 5px;
    background-color: white;
    border: none;
    border-radius: 3px;
    font-weight: 700;
  }

  .dev-button:hover{
    background-color: #5F87EC;
  }


  @media only screen and (max-width: 600px) {

    .dev-projects{
      display: flex;
      margin: 10px 3px;
      flex-direction: column;
      width: 100vw;
    }
    
    .dev-project{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
      }
      
      .dev-image{
      width: 98%;
      margin-top: -15px;
      }
      
      .dev-name{
        display: none;
      }
    
      .d-buttons{
        display: flex;
      }
    
      .dev-button{
        height: 20px;
        width: 80px;
        text-transform: capitalize;
        margin: 5px 5px 5px 5px;
        background-color:#5F87EC;
        border: none;
        border-radius: 3px;
        font-weight: 700;
      }
    
      .dev-button:hover{
        background-color: #5F87EC;
      }



  }