.login-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 90vw;
  height: 30vw;
  margin: 150px auto;
  align-content: space-between;
  justify-content: center;
  align-items: stretch;
}


.login-label{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 100px;
  color: #fff;
  font-style: italic;
  font-size: 15px;
  align-items: flex-end;
  margin-right: 10px;
  margin-top: 5px;
}

.login-form{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  align-content: space-around;
  padding-bottom: 20px;
  justify-content: space-around;
}

input{
  height: 25px;
  border: none;
}  

#loginb{
  background-color:palegreen;
  width: 90px;
  margin: 0  0 -65px 0;
  color: black;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  height: 20px;
}


#loginb:hover{
  background-color:black;
  color:palegreen;
}

@media only screen and (max-width: 600px) {

  .login-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100vw;
    height: 50vw;
    margin: 200px auto;
    align-content: space-between;
    justify-content: center;
    align-items: stretch;
  }
  
  
  .login-label{
    display: flex;
    flex-direction: column;
    width: 20vw;
    color: #fff;
    font-style: italic;
    font-size: 10px;
    align-items: flex-end;
    margin-right: 0px;
    margin-top: 0px;
    justify-content: space-between;
  }
  
  .login-form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 99%;
    height: 10vh;
    align-content: space-around;
    padding-bottom: 20px;
    justify-content: space-between;
  }
  
  input{
    height: 25px;
    width: 98%;
  }  
  
  #loginb{
    background-color:palegreen;
    width: 90px;
    margin: 0  0 -9vh  0;
    color: black;
    border: none;
    border-radius: 3px;
    font-weight: 700;
    height: 20px;
  }
  
  
  #loginb:hover{
    background-color:black;
    color:palegreen;
  }

}