.login-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
  height: 30vw;
  margin: 150px auto;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}


.login-label{
  display: flex;
  flex-direction: column;
  font-size: small;
  font-style: italic;
  width: 9vw;
}

.login-form{
display: flex;
flex-direction: column;
background-color: white;
}

#loginb{
  color: black;
  background-color:palegreen;
  font-weight: 700;
  width: 90px;
  height: 20px;
  border: none;
  border-radius: 3px;
}