.login-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 40vw;
  height: 30vw;
  margin: 150px auto;
  align-items: center;
  align-content: space-between;
  justify-content: center;
}


.login-label{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 9vw;
  margin-left: 100px;
  flex-direction: column;
  color: #fff;
  font-style: italic;
  font-size: small;
  align-items: flex-end;
  margin-right: 10px;
  margin-top: 5px;
}

.login-form{
  display: flex;
  flex-direction: column;
  background-color: #fff;
  height: 100%;
  align-content: space-around;
}

input{
  height: 25px;
}  

#loginb{
  background-color:palegreen;
  width: 90px;
  margin: 0  0 -55px 0;
  color: black;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  height: 20px;
}


#loginb:hover{
  background-color:black;
  color:palegreen;
}