header{
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.welcome{
  display: flex;
  font-style: italic;
  font-size: 19px;
  align-items: center;
}

.left{
  display: flex;
}

.logo{
  display: flex;
  border-right: solid white 1px;
  padding: 70px 50px 80px 5px;
  margin-left: 20px;
}

.right{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 15px;
    margin: -15vh 0 0 0;
}

.link-logos{
width: 30px;
margin: 0 15px 0 15px;
}


#andy{
  color: #E3AD6D;
  margin:  0 15px;
  font-weight: 900;
  font-style: normal;
}

@media only screen and (max-width: 600px) {

  header{
    padding: 0px;
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
  }
  
  .welcome{
    font-style: italic;
    font-size: 15px;
    display: flex;
  }
  
  .left{
    order: 2;
    display: flex;
    justify-content: flex-start;
  }
  
  .logo{
    width: 40vw;
    display: flex;
    border-right: none;
    padding: 10px 10px 10px 0px;
    border-right: solid white 1px;
    margin: 15px 0 0 10px;
  }
  
  .right{
    margin: 0 0 0;
    order: 1;
    display: flex;
    width: 100%;
    justify-content: center;
  }
  
  .link-logos{
  display: none;
  }
  
  
  #andy{
    color: #E3AD6D;
    margin:  0 15px;
    font-weight: 900;
    font-style: normal;
  }


}

/* 
header{
  padding: 0px;
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 10px;
}

.welcome{
  font-style: italic;
  font-size: 15px;
  display: flex;
}

.left{
  order: 2;
  display: flex;
  justify-content: space-evenly;
}

.logo{
  display: flex;
  border-right: none;
  padding: 0;
  margin: 300px 0 0 0;
}

.right{
  order: 1;
  display: flex;
  margin-right: 15px;
  width: 100%;
  justify-content: space-around;
}

.link-logos{
display: none;
}


#andy{
  color: #E3AD6D;
  margin:  0 15px;
  font-weight: 900;
  font-style: normal;
} */
