#home{
    margin-top: 100px;
    width: 100vw;
    height: 90vh;
    object-fit: cover;
    object-position: 100% 0;
}

.about{
   display: flex;
  width: 50vw;
  font-style: italic;
  font-size: 19px;
  margin: 30px 30vw 0;
}

.icons{
  display: flex;
  width: 30vw;
  justify-content: space-between;
  margin-left: 30vw;
  margin-top: 20px;

}
.icon{
  width: 40px;
  border-radius: 6px;
}
@media only screen and (max-width: 600px) {
#home{
  display: flex;
    margin-top: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: 45% 80px;
}

.about{
 display: flex;
 width: 80vw;
 font-style: italic;
 font-size: 12px;
 margin: 30px auto -50px;
}

.icons{

}


}