nav{
  display: flex;
  width: 90vw;
  justify-content: space-around;
  margin-top: -90px;
  margin-left: 100px;
}

.main-link{
  margin: 0 30px;
  font-size: 30px;
  text-transform: uppercase;
}


.nav{
  display: flex;
  align-content: space-around;
  justify-content: flex-end;
  width: 80vw;
}

.vd-link{
  font-size:25px;
  margin-right: 100px;
}

.vd-link:hover{
color: #E3AD6D;
}


.fd-link{
  font-size: 25px;
  margin-right: 100px;
}

.fd-link:hover{
color:#5F87EC;
}

.r-link{ font-size: 25px;
  margin-right: 100px;}

  .r-link:hover{
    color:#08ff6f;
    }

@media only screen and (max-width: 600px) {

  nav{
    display: flex;
    width: 60vw;
    justify-content: flex-start;
    /* padding-right: 300px; */
    margin: -70px 0px 0px 220px;
  }
  
  .main-link{
    margin: 0 auto;
    text-transform: uppercase;
  }

  .nav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 19px;
    margin-left: 0px;
  }

  .vd-link{
    font-size: 19px;
    margin-top: 2px;
    order:2;
  }

  .fd-link{
    font-size: 19px;
    margin-top: 2px;
    order:1;
  }

  .r-link{ font-size: 19px;
    margin-top: 2px;}
  


}
/* 
nav{
  display: flex;
  width: 100vw;
  justify-content: space-around;
  margin-top: 0;
}

.main-link{
  margin: 0 auto;
  text-transform: uppercase;
}

.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.vd-link{
  margin-top: 10px;
  order:2;
}

.fd-link{
  margin-top: 10px;
  order:1;
} */

